:root {
  --main-color: #FF0077;
  --second-color: black;
  --section-padding: 60px;
  --section-background: #ebebeb;
  ---main-transition: 0.4s;
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::after,*::before{
    box-sizing: inherit;
}
.row {
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.col-twelve, .col-full {
    width: 100%;
}
.col-six, .col-1-2 {
    width: 50%;
}
.col-four, .col-1-3 {
    width: 33.33333%;
}
[class*="col-"] {
    padding: 0 20px;
}
[class*="col-"], .bgrid {
    float: left;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
[class*="block-"]:before, [class*="block-"]:after {
    content: "";
    display: table;
}
.block-1-6 .bgrid {
    width: 16.66667%;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, .h01 {
    font-size: 3.1rem;
    line-height: 1.355;
    letter-spacing: -.1rem;
}
h5, .h05, h6, .h06 {
    font-family: sans-serif;
    margin-bottom: 1.2rem;
}
h3, .h03 {
    font-size: 2rem;
    line-height: 1.5;
}

h3, .h03, h4, .h04 {
    margin-bottom: 1.8rem;
}
h1, h2, h3, h4, h5, h6 {
    -webkit-font-variant-ligatures: common-ligatures;
    -moz-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}
h5, .h05 {
    font-size: 1.4rem;
    line-height: 1.714;
    text-transform: uppercase;
    letter-spacing: .15rem;
}
button.stroke, .button.stroke {
    background: transparent !important;
    border: 3px solid #313131;
    line-height: 4.8rem;
}
.button, a.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 5.4rem;
    line-height: 5.4rem;
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    background: #d8d8d8;
    color: #313131;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button.button-primary, a.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    background: #313131;
    color: #FFFFFF;
}
img {
    border: 0;
}
img, video {
    max-width: 100%;
    height: auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
input, textarea, select, pre, blockquote, figure, table, p, ul, ol, dl, form, .fluid-video-wrapper, .ss-custom-select {
    margin-bottom: 3rem;
}
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    display: block;
    height: 6rem;
    padding: 1.5rem 0;
    border: 0;
    outline: none;
    vertical-align: middle;
    color: #313131;
    font-family: "poppins-regular", sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    max-width: 100%;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.section-intro {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.6rem;
    position: relative;
}
.intro-info {
    margin-top: 4.2rem;
    margin-right: -30px;
    margin-left: -30px;
}
.intro-info img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin: .9rem 0 0 0;
    float: left;
}
.intro-info .lead {
    text-align: left;
    padding-left: 13rem;
}
p.lead {
    font-family: "lora-regular", serif;
    font-size: 2rem;
    line-height: 1.8;
    color: #888888;
}
html {
  scroll-behavior: smooth;
  font-size: 9.411764705882353px;
  height: 100%;
}
body {
    background: #151515;
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 3rem;
	color: #6e6e6e;
    height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
    line-height: inherit;
    background: transparent;
}
a, a:visited {
    color: #000000;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Variables */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* header  */
header {
	position: fixed;
	width: 100%;
	min-height: 66px;
	z-index: 600;
    display: block;
    box-sizing: inherit;
}
header .row {
	position: relative;
	min-height: 66px;
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: inherit;
}
header .top-bar {
	display: block;
	background: #000000;
	min-width: 220px;
	min-height: 66px;
	position: absolute;
	left: 90px;
	top: 0;
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
header .top-bar .menu-toggle {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 13px;
    display: block;
    position: relative;
}
header .menu-toggle span {
    display: block;
    background-color: var(--main-color);
    width: 24px;
    height: 3px;
    margin-top: -1.5px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    position: absolute;
    right: 8px;
    top: 50%;
    bottom: auto;
    left: auto;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
header .menu-toggle span::before, header .menu-toggle span::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: inherit;
	position: absolute;
	left: 0;
	-moz-transition-duration: 0.2s, 0.2s;
	-o-transition-duration: 0.2s, 0.2s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-ms-transition-duration: 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s;
	-moz-transition-delay: 0.2s, 0s;
	-o-transition-delay: 0.2s, 0s;
	-webkit-transition-delay: 0.2s, 0s;
	-ms-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s;
}
header .menu-toggle span::before {
	top: -8px;
	-moz-transition-property: top, transform;
	-o-transition-property: top, transform;
	-webkit-transition-property: top, transform;
	-ms-transition-property: top, transform;
	transition-property: top, transform;
}
header .menu-toggle span::after {
	bottom: -8px;
	-moz-transition-property: bottom, transform;
	-o-transition-property: bottom, transform;
	-webkit-transition-property: bottom, transform;
	-ms-transition-property: bottom, transform;
	transition-property: bottom, transform;
}
/* is clicked */
header .menu-toggle.is-clicked span {
	background-color: rgba(255, 0, 119, 0);
}
header .menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
	background-color: #ff0077;
	-moz-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	-webkit-transition-delay: 0s, 0.2s;
	-ms-transition-delay: 0s, 0.2s;
	transition-delay: 0.1s, 0.3s;
}
header .menu-toggle.is-clicked span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
header .menu-toggle.is-clicked span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

header .logo {
	float: left;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 25px;
	position: relative;
}
header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
    width: 132px;
    height: 21px;
    background: url(../images/Hassan.png) no-repeat center;
    background-size: 141px 60px;
}
#main-nav-wrap {
    display: block;
    width: 100%;
    font-family: "poppins-medium", sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 100%;
    left: 0;
}
header nav .main-navigation {
    background: #000000;
    padding: 24px 30px 42px;
    margin: 0;
    width: 100%;
    height: auto;
    clear: both;
    display: none;
    list-style: disc;
}
.display{
    display: block !important;
}
header nav .main-navigation > li {
    display: block;
    height: auto;
    text-align: left;
    padding: 0;
    margin: 0;
}
header nav .main-navigation li a {
    display: block;
    color: #FFFFFF;
    width: auto;
    padding: 15px 0;
    line-height: 16px;
    border: none;
}
.main-navigation li a:hover {
	color: #FF0077;
	padding-left: 1rem;
}
.main-navigation li.current > a {
	background: none;
	color: #FF0077;
}

/* --------------------- */
/* introduction------------- */
#intro {
	background: #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
}
.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .85;
    margin: 0;
    padding: 0;
}

.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
	transform: translateY(-2.1rem);
	margin: 0;
	padding: 0;
	-moz-transform: translateY(-2.1rem);
	-o-transform: translateY(-2.1rem);
}
.intro-content .row{
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}
.intro-content h1 {
	color: #FFFFFF;
	font-family: "poppins-medium", sans-serif;
	font-size: 8.8rem;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-style: normal;
    text-rendering: optimizeLegibility;
}
.intro-content h5 {
	color: #cc005f;
	font-family: "poppins-bold", sans-serif;
	font-size: 2.7rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-style: normal;
    text-rendering: optimizeLegibility;
}
.intro-content .intro-position {
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
}
.intro-content .intro-position span {
	display: inline-block;
}
.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .button {
	color: #FFFFFF !important;
	border-color: rgba(255, 255, 255, 0.3);
	height: 6rem !important;
	line-height: 5.4rem !important;
	padding: 0 3.5rem 0 3rem !important;
	margin-top: .6rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
    background: transparent !important;
    border: 3px solid #313131
}
.intro-content .button:hover, .intro-content .button:focus {
	border-color: #cc005f;
}
.intro-content .button::after {
	display: inline-block;
	content: "\f107";
	font-family: fontAwesome;
	font-size: 1.6rem;
	line-height: inherit;
	text-align: center;
	position: relative;
	left: 1.2rem;
}

.intro-social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 7.2rem;
	font-size: 3.3rem;
	margin: 0;
	padding: 0;
}
.intro-social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}
.intro-social li a, .intro-social li a:visited {
	color: #FFFFFF;
}
.intro-social li a:hover, .intro-social li a:focus {
	color: #cc005f;
}
i{
    font-size:4rem !important;
    font-weight: 400 !important;
}
@media (max-width: 992px) {
    .intro-content h1{
        font-size:6.4rem;
        margin-bottom:3rem
    }
    .intro-social li{
        margin:0 10px
    }
}
/* ------------------ */
/* about section----- */
#about {
    background: #FFFFFF;
    padding-top: 12rem;
    padding-bottom: 15rem;
    height:155%;
}
.col-twelve p:first-child{
    text-align: center;
    font-size:25px;
    color:#a6a6a6;
    width: 64%;
    margin: 52px auto;
}
.col-twelve p:first-child span{
    font-weight:bold;
    color:var(--main-color);
    text-transform: uppercase;
}
#about .section-intro {
    margin-bottom: 3rem;
}
.section-intro h5 {
    color: #FF0077;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
}
.section-intro h1 {
    font-family: sans-serif;
    font-size: 3.6rem;
    color: #313131;
    line-height: 1.25;
    margin-bottom: 1.2rem;
}
.about-content {
    position: relative;
    text-align: left;
    max-width: 850px;
    margin-bottom: 3.6rem;
}
.about-content h3 {
    font-family: "poppins-bold", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}
.about-content .info-list {
    list-style: none;
    margin-left: 0;
}
.about-content .info-list li {
    padding: 0 0 1.5rem 0;
    margin-bottom: .6rem;
}
.about-content .info-list li strong {
    font-family:sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    line-height: 3rem;
}
.about-content .info-list li span {
    display: block;
    font-family: sans-serif;
    color: #888888;
    font-size: 1.5rem;
    line-height: 1;
}
.about-content .skill-bars {
    margin-top: 6rem;
}
.skill-bars {
    list-style: none;
    margin: 6rem 0 3rem;
}
.skill-bars li {
    height: .6rem;
    background: #a1a1a1;
    width: 100%;
    margin-bottom: 6rem;
    padding: 0;
    position: relative;
}
li{
    display:list-item;
}
.skill-bars li .percent90 {
    width: 90%;
}
.skill-bars li .progress {
    background: #313131;
    position: relative;
    height: 100%;
}
.skill-bars li .progress span {
    position: absolute;
    right: 0;
    top: -3.6rem;
    display: block;
    font-family: "poppins-regular", sans-serif;
    color: white;
    font-size: 1.1rem;
    line-height: 1;
    background: #313131;
    padding: .6rem .6rem;
    border-radius: 3px;
}
.skill-bars li .progress span::after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #313131;
    content: "";
}
.skill-bars li strong {
    position: absolute;
    left: 0;
    top: -3rem;
    font-family: "poppins-bold", sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
}
.skill-bars li .percent85 {
    width: 85%;
}
.skill-bars li .percent70 {
    width: 70%;
}
.skill-bars li .percent95 {
    width: 95%;
}
.skill-bars li .percent75 {
    width: 75%;
}
.button-section {
    text-align: center;
}
.button-section [class*="col-"] .button:first-child {
    margin-right: 4rem;
}

.button-section .button {
    width: 250px;
}
@media (max-width: 992px) {
    #about{
        height: 290%
    }
    .col-twelve p:first-child {
    text-align: center;
    font-size: 18px;
    color: #a6a6a6;
    width: 99%;
    margin: 22px auto;
    }
    .col-six, .col-1-2 {
        width: 100%;
    }
    #about .button-section .button {
        width: 100%;
        margin-right: 0px;
    }
    #about .intro-info{
        text-align: center;
        margin-top: 3rem;
        margin-right: 0;
        margin-left: 0;
    }
    #about .intro-info img {
        /* height: 6.6rem;
        width: 6.6rem; */
        float: none;
        display: inline-block;
    }
    #about .intro-info .lead {
        padding-left: 0;
        text-align: center;
    }
}
/* --------------------- */
/* contact section ---------- */
#contact {
    background: #151515;
    padding-top: 12rem;
    padding-bottom: 7.2rem;
        height: 150%;
}
#contact .section-intro h5 {
    color: #FF0077;
    font-weight:900;
}
#contact .section-intro h1 {
    color: white;
    margin-top:.6rem;
    letter-spacing: .2px;
}
#contact .section-intro p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.4rem;
}
.contact-form {
    max-width: 740px;
}
#contact form {
    margin-top: 0;
    margin-bottom: 3rem;
}
fieldset {
    border: none;
    margin-bottom: 1.5rem;
    margin: 0;
    padding: 0;
}
#contact form .form-field {
    position: relative;
}
#contact input[type="text"], #contact input[type="password"], #contact input[type="email"] {
    height: 6.6rem;
    padding: 1.8rem 2rem;
}

#contact input[type="text"], #contact input[type="password"], #contact input[type="email"], #contact textarea {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#contact textarea {
    min-height: 20rem;
    padding: 1.8rem 2rem;
}
#contact input[type="text"]:focus,
#contact input[type="password"]:focus,
#contact input[type="email"]:focus {
	border-color: #FF0077;
	color: #FFFFFF;
}
#contact textarea:focus {
	border-color: #FF0077;
	color: #FFFFFF;
}

#contact button.submitform {
    font-size: 2.2rem;
    display: block;
    letter-spacing: .2rem;
    height: 6.6rem;
    line-height: 6.6rem;
    padding: 0 3rem;
    margin-top: 4.8rem;
    width: 100%;
    background: #FF0077;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
}
#contact button.submitform:hover, #contact button.submitform:focus {
	background: #cc005f;
}
/* ------------- */
#contact .contact-info {
    margin: 4.8rem auto 0;
    font-family: "poppins-regular", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.contact-info .icon,.contact-info .icon-mail,.contact-info .icon-phone {
    margin-bottom: 2.1rem;
}
.contact-info .icon:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f3c5" ;
    font-size: 2.1rem;
    line-height: inherit;
    font-size: 4.2rem;
    color: #FFFFFF;
}
.contact-info .icon-mail:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f0e0" ;
    font-size: 2.1rem;
    line-height: inherit;
    font-size: 4.2rem;
    color: #FFFFFF;
}
.contact-info .icon-phone:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f095" ;
    font-size: 2.1rem;
    line-height: inherit;
    font-size: 4.2rem;
    color: #FFFFFF;
}

.contact-info h5 {
    color: #FF0077;
}
.contact-info .collapse {
    padding: 0;
}
.icon-phone:before {
    content: "\e993";
}
#contact .col-four p{
    font-size: 1.9rem;
}
@media (max-width: 992px) {
    #contact{
        height:240%
    }
    .col-four, .col-1-3 {
    width: 100%;
    }
}
/* ------------------- */
/* services------------------- */
#services {
    background: #313131 url(../images/bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
    color: white;
    position: relative;
}
#services .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #151515;
    opacity: .9;
}
#services .section-intro {
    margin-bottom: 1.8rem;
    width: 100%;
    height: 235px;
}
#services .section-intro h5 {
    color: #FF0077;
}
#services .section-intro h1 {
    color: white;
}
#services .section-intro p {
    color: rgba(255, 255, 255, 0.7);
}
#services .services-content {
    width: 100%;
    overflow: hidden;
    margin: 0px 158px;

}
#services .services-list {
     margin-top: 1.2rem;
     position: relative;
     width: 220%;
     /*height: 280px;
     */display: block;
     transition: 1s ease-in-out;
     -webkit-transition: 1s ease-in-out;
     -moz-transition: 1s ease-in-out;
     -ms-transition: 1s ease-in-out;
     -o-transition: 1s ease-in-out;
     /* transform: translateX(-17%); */

}
/* #services .services-list:hover{
    transform: translateX(-17%);
    -webkit-transform: translateX(-17%);
    -moz-transform: translateX(-17%);
    -ms-transform: translateX(-17%);
    -o-transform: translateX(-17%);
} */

#services .services-list .service{
    width: 386px;
    display: inline-block;
    padding:0 30px;
    margin-bottom: 1.2rem;
    
}
#services .services-list .service .icon{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2.1rem;


}
#services .services-list .service .icon.web::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f57d" ;
    line-height: inherit;
    color: var(--main-color);
    font-size: 5.4rem !important;
}
#services .services-list .service .icon.webb::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f2d0" ;
    line-height: inherit;
    color: var(--main-color);
    font-size: 5.4rem !important;
}
#services .services-list .service .icon.paint::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f55d" ;
    line-height: inherit;
    color: var(--main-color);
    font-size: 5.4rem !important;
}
#services .services-list .service .icon.bars::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f828" ;
    line-height: inherit;
    color: var(--main-color);
    font-size: 5.4rem !important;
}
#services .services-list .service .icon.imge::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f03e" ;
    line-height: inherit;
    color: var(--main-color);
    font-size: 5.4rem !important;
}
#services .services-list .service .icon.chat::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f086" ;
    line-height: inherit;
    color: var(--main-color);
    font-size: 5.4rem !important;
}
.services-list h3 {
    color: #FFFFFF;
    text-align:center;
    font-family: sans-serif;
    font-size: 2.6rem;
}
.services-list .desc {
    color: rgba(255, 255, 255, 0.6);
    text-align:center;
    font-family: sans-serif;
    font-size: 1.9rem;
}
@media (max-width: 992px) {
   #services .section-intro {
    height: 312px;
}
#services .services-content {
        width: 100%;
    margin: 0px;
    padding-top: 16px;
}

#services .services-list{
    height: 376px;
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 23px;
}


}
/* ------------------- */
/* states------------------- */
#stats {
    background: #990047;
    padding-top: 7.2rem;
    padding-bottom: 6rem;
    text-align: center;
    height: 40%;
}
#stats .row {
    max-width: 1440px;
}
#stats .stat {
    border-left: 1px solid rgba(255, 255, 255, 0.12);
    min-height: 17.4rem;
}
#stats .stat:first-child {
    border: none;
}
#stats .stat .icon-part{
    height: 50px
}
#stats .stat .icon-part.watch::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f017" ;
    font-size: 2.1rem;
    line-height: inherit;
    font-size: 4.2rem;
    color: #2c2a2a;
}
#stats .stat .icon-part.coffee::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f0f4" ;
    font-size: 2.1rem;
    line-height: inherit;
    font-size: 4.2rem;
    color: #2c2a2a;
}
#stats .stat .icon-part.light::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f0eb" ;
    font-size: 2.1rem;
    line-height: inherit;
    font-size: 4.2rem;
    color: #2c2a2a;
}
#stats .stat .icon-part.pen::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f5ae" ;
    font-size: 2.1rem;
    line-height: inherit;
    font-size: 4.2rem;
    color: #2c2a2a;
}
#stats .stat .icon-part.prize::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f559" ;
    font-size: 2.1rem;
    line-height: inherit;
    font-size: 4.2rem;
    color: #2c2a2a;
}
#stats .stat .icon-part.user::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f500" ;
    font-size: 2.1rem;
    line-height: inherit;
    font-size: 4.2rem;
    color: #2c2a2a;
}
#stats .stat-count {
    color: #FFFFFF;
    font-size: 3.6rem;
    margin-top: 1.2rem;
    margin-bottom: 0;
    font-family: "poppins-medium", sans-serif;
    color: white;
}
#stats .stat-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    letter-spacing: 2px;
}

@media (max-width: 992px) {
    #stats{
        height: 170%;
    }
    #stats .stat:nth-child(n) {
    border: none;
    width: 100%;
    padding-bottom: 3rem;
}
}

/* ------------------- */
/* footer------------------- */
footer {
    padding-bottom: 6rem;
    font-size: 1.4rem;
    font-family: "poppins-regular", sans-serif;
}
footer .row {
    max-width: 900px;
}
footer .social {
    text-align: right;
    float: right;
}
footer .footer-social {
    display: inline-block;
    font-size: 2.1rem;
    margin: 0;
    padding: 0;
    position: relative;
    top: -.3rem;
}
footer .footer-social li {
    display: inline-block;
    margin: 0 12px;
    padding: 0;
}
footer .footer-social li a {
    color: #FFFFFF;
}
footer .copyright span {
    display: inline-block;
    font-size: 1.8rem;
    letter-spacing: .7px;
}
footer .copyright span:first-child:after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: var(--main-color);
}
footer i{
    font-size: 2.6rem !important;

}
#go-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 600;
    display: none;
}
#go-top.show{
    display: block;
}
#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 6.6rem;
    width: 6rem;
    line-height: 6.6rem;
    text-align: center;
    background: #cc005f;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}
#go-top a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f30c" ;
    font-size: 2.1rem;
    line-height: inherit;
}
footer .row div:nth-child(2) a{
    color: var(--main-color);
    text-transform: uppercase;
}
@media (max-width: 992px) {
    footer{
        padding-bottom: 3rem;
    }
    footer .social {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    footer .footer-social {
        top: 4px;
    }
    footer .row div:nth-child(2){
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        text-align:center;
    }
    footer .copyright span {
    display: block;
    }
    footer .copyright span:first-child:after {
        display: none;
    }
}
/* portifolio section -========================= */
section.service{
  width: 100%;
  position: relative;
  background-color: #e8e8e8
}
.service .container {
  width: 100%;
    position: relative;
    padding: 65px 0;
}
.service .container .text-center{
  margin:20px auto;
}
.service .container .text-center h4{
  text-transform: uppercase;
  color:var(--main-color);
  font-weight:900;
  font-size:2.3rem;
  letter-spacing:2px;
  font-family: "poppins-bold";
  text-align: center;
  margin-left: -20px;
}
.service .container .text-center h1{
  text-transform: uppercase;
  font-weight:900;
  font-size:2rem;
  letter-spacing:2px;
  font-family: "poppins-semibold", serif;
  line-height: 2;
  text-align: center;
  color:black
}
.service .container .g-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.service .container .g-4 .col-lg-4{
  position: relative;
  width: 30%;
  background-color: #f8f6f6;
  margin-right: 30px;
  margin-top: 30px;
  height: 360px;
  border-radius:0px;
  transition:.5s;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
}
.service .container .flexx{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 89%;
}
.service .container .g-4 .col-lg-4 .service-item .bg-img{
  position: absolute;
    width: 100%;
    height: 359px;
    object-fit: cover;
    z-index: 0;
    top:0;
    left:0;
}
.service .container .g-4 .col-lg-4:hover .bg-img{
  z-index: 0;
}
.service .container .row .col-lg-4:hover .service-text{
  background-color:#2c2c2c73;
}
.service .container .row .col-lg-4 .service-text{
   position: absolute;
    margin-top: 0px;
    padding: 4px 30px;
    height: 99%;
    padding-top: 110px;
    top: 1px;
    left: 0;
}
.service .container .row .col-lg-4 .service-text img{
  margin:22px 39%
}
.service .container .row .col-lg-4 .service-text h3{
  font-weight:600;
  font-size:3.2rem;
  font-family: "Teko",sans-serif;
  margin-bottom: 10px;
  text-align: center;
  color:#00000080;
}
.service .container .row .col-lg-4 .service-text p{
  font-weight: 800;
    font-size: 1.7rem;
    color: #00000078;
    line-height: 1.7;
    margin-bottom: 10px;
    font-family: "Teko",sans-serif;
    text-align: center;
}
.service .container .row .col-lg-4:hover .service-text h3{
    color:var(--main-color)
}
.service .container .row .col-lg-4:hover .service-text p {
  color:white
}
.service-text .btn{
    width: 36px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    color: black;
    background: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
    text-decoration: none;
    margin:3px 44%;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2.5rem;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.service .container .row .col-lg-4:hover .service-text .btn{
   width: 185px;
  margin:3px 13%;
  color:white;
  background-color:var(--main-color)
}
.service .container .row .col-lg-4:hover .service-text .btn i{
    color:white;
}
.service-text .btn i{
  color:var(--second-color);
  margin-right:4rem;
  font-weight: 900;
  font-size:2.6rem !important;
}
 .service-text .btn .fa-plus:before {
    content: "\f067";
} 
@media (max-width: 992px) {
  .service .container .text-center h1{
    font-size:1.3rem;
    letter-spacing: 1px;

  }
  .service .container .g-4{
    flex-direction: column;
    margin: 0px 3px;
  }
  .service .container .g-4 .col-lg-4{
    width:97%;
    margin-top: 0px;
    margin-bottom:20px
  }
  .service-text .btn{
    margin:3px 43%
  }
  .service .container .row .col-lg-4:hover .service-text .btn{
    margin:3px 25%;
  }
}
